body {
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
}
.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
}
/* about me section*/
.about-me {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin: 100px 90px 100px 90px;
}
.about-me-profession {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}
.about-me-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.about-me-info {
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 40px;
}
.about-me-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.my-projects {
    
}
.my-projects-list {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-left: -12px;
}
.my-projects-list-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 15px;
}
.my-projects-list-info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-work {
    margin-top: 50px;
}
.my-work-company-name {
    margin-top: 20px;
}
.my-work-company {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}
.my-work-occupation {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.my-work-company-years {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.my-work-company-years-border {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 10px;
}
.my-work-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: -12px;
}
.my-education {
   margin-top: 40px;
}
.my-education-name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
    margin-top: 10px;
}
.my-education-institute {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
}
.my-education-place {
    margin-bottom: 20px;
}

/* Sidebar section */
.sidebar {
    width: 370px;
    padding-top: 40px;
    background-color: #1E2939;
    color: #fff;
}
.contacts-section {
    margin: 51px 0 0 40px;
}
.contacts-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 7px;
}
.contacts-info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}
.Tech-Skills-Section {
    margin: 47px 0 0 40px;
}
.Soft-Skills-Section {
    margin: 44px 0 0 40px;
}
.Sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.Skills-item {
    color: #FB6D3A;
    padding-left: 17px;
}
.Skills-names {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}